<app-header></app-header>
<mat-sidenav-container autosize>
    <mat-sidenav
      #sidenav
      mode="side"
      opened="{{ isExpanded }}"
    >
      <app-sidenav
        (toggleMenu)="toggleMenu()"
        [isExpanded]="isExpanded"
      ></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content [style.margin-left.px]="!isExpanded ? 60 : 250">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<app-footer></app-footer>