<div class="w-100">
    <button class="me-2" (click)="dishDone()" mat-raised-button color="primary">Ver Platos Hechos</button>
    <button mat-raised-button (click)="dishPending()" color="primary">Ver Platos Pendientes</button>
</div>
<!-- platos -->
<div class="w-100 h-100 row" >
    
    <div class="col-md-4 p-2" *ngFor="let dish of dishes; let i=index">
        <mat-card class="w-100">
            <mat-card-title>Plato #{{i+1}}</mat-card-title>
            <mat-card-subtitle>Orden #{{dish.cuentaid}}  Mesa #{{dish.mesaid}}</mat-card-subtitle>
            <mat-card-content>
                <p class="fw-bold">{{dish.nombre}}</p>
                <p >{{dish.descripcion}}</p>
                <p class="text-danger" *ngIf="!dish.status">Estado: Pendiente</p>
                <p class="text-success" *ngIf="dish.status">Estado: Hecho</p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="dish.status" (click)="markPending(dish)" mat-icon-button color="primary" aria-label="En curso">
                    <mat-icon>pending</mat-icon>
                </button>
                <button *ngIf="!dish.status" (click)="markDone(dish)" mat-icon-button color="primary" aria-label="Hecho">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    
    
</div>