<h2 mat-dialog-title>Unir Mesa #{{data.mesaid}}</h2>
<div mat-dialog-content>
    <form id="stripe-login"   class="pr-5 pl-5 pb-5">
                                        
        <mat-form-field appearance="fill" class="col-lg-12 pb-3">
            <mat-label>mesa Principal</mat-label>
            <mat-select name="mesaid" id="mesaid" #mesaid="ngModel" [(ngModel)]="table.mesaunidaconmesaid">
              <mat-option *ngFor="let table1 of tables" [value]="table1.mesaid">
                Mesa #{{table1.mesaid}}
              </mat-option>
            </mat-select>
        </mat-form-field>

  </form>
</div>
<div mat-actions>
    <button mat-button  (click)="save()" tabindex="1">Guardar</button>
    <button mat-button  (click)="onNoClick()"  tabindex="-1">Cancelar</button>
</div>