<div class="w-100">
    <button class="me-2" (click)="drinkDone()" mat-raised-button color="primary">Ver bebidas Hechas</button>
    <button mat-raised-button (click)="drinkPending()" color="primary">Ver bebidas Pendientes</button>
</div>
<!-- bebidas -->
<div class="w-100 h-100 row" >
    <div class="col-md-4 p-2" *ngFor="let drink of drinks; let i=index">
        <mat-card class="w-100">
            <mat-card-title>Bebida #{{drink.orden_bebida_id}}</mat-card-title>
            <mat-card-subtitle>Orden #{{drink.cuentaid}}  Mesa #{{drink.mesaid}}</mat-card-subtitle>
            <mat-card-content>
                <p class="fw-bold">{{drink.nombre}}</p>
                <p >{{drink.descripcion}}</p>
                <p class="text-danger" *ngIf="!drink.status">Estado: Pendiente</p>
                <p class="text-success" *ngIf="drink.status">Estado: Hecho</p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="drink.status" (click)="markPending(drink)" mat-icon-button color="primary" aria-label="En curso">
                    <mat-icon>pending</mat-icon>
                </button>
                <button *ngIf="!drink.status" (click)="markDone(drink)" mat-icon-button color="primary" aria-label="Hecho">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    
</div>