<div class="w-100">
    <button class="me-2" (click)="drinkDone()" mat-raised-button color="primary">Ver bebidas Hechas</button>
    <button mat-raised-button (click)="drinkPending()" color="primary">Ver bebidas Pendientes</button>
</div>
<!-- bebidas -->
<div class="w-100 h-100 row" >
    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>Bebida #1</mat-card-title>
            <mat-card-subtitle>Orden #1  Mesa #1</mat-card-subtitle>
            <mat-card-content>
                <p class="fw-bold">Nombre Bebida</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="fw-bold">Observaciones de bebida:</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="text-danger">Estado: Pendiente</p>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="markPending('1')" mat-icon-button color="primary" aria-label="En curso">
                    <mat-icon>pending</mat-icon>
                </button>
                <button (click)="markDone('1')" mat-icon-button color="primary" aria-label="Hecho">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>Bebida #1</mat-card-title>
            <mat-card-subtitle>Orden #1  Mesa #1</mat-card-subtitle>
            <mat-card-content>
                <p class="fw-bold">Nombre Bebida</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="fw-bold">Observaciones de bebida:</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="text-danger">Estado: Pendiente</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary" aria-label="En curso">
                    <mat-icon>pending</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Hecho">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>Bebida #1</mat-card-title>
            <mat-card-subtitle>Orden #1  Mesa #1</mat-card-subtitle>
            <mat-card-content>
                <p class="fw-bold">Nombre Bebida</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="fw-bold">Observaciones de bebida:</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="text-danger">Estado: Pendiente</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary" aria-label="En curso">
                    <mat-icon>pending</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Hecho">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>


    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>Bebida #1</mat-card-title>
            <mat-card-subtitle>Orden #1  Mesa #1</mat-card-subtitle>
            <mat-card-content>
                <p class="fw-bold">Nombre Bebida</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="fw-bold">Observaciones de bebida:</p>
                <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit similique id accusantium, animi iusto veniam delectus</p>
                <p class="text-danger">Estado: Pendiente</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary" aria-label="En curso">
                    <mat-icon>pending</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Hecho">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    
</div>