<h2 mat-dialog-title>Agregar Orden de plato</h2>
<div mat-dialog-content>
    <form id="stripe-login"   class="pr-5 pl-5 pb-5">
                                        
        <mat-form-field appearance="fill" class="col-lg-12 pb-3">
            <mat-label>Plato:</mat-label>
            <mat-select name="platoid" id="platoid" #platoid="ngModel" [(ngModel)]="orderDish.platoid">
              <mat-option *ngFor="let dish of dishes" [value]="dish.platoid">
                {{dish.nombre}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-lg-12 pb-3 pt-3">
            <mat-label>Cantidad:</mat-label>
            <input  name="cantidad" id="cantidad" #cantidad="ngModel" [(ngModel)]="orderDish.cantidad"  style="font-size:1rem !important"  required type="number" matInput>
            <mat-icon matSuffix>price_check</mat-icon>
        </mat-form-field>

  </form>
</div>
<div mat-actions>
    <button mat-button  (click)="save()" tabindex="1">Guardar</button>
    <button mat-button  (click)="onNoClick()"  tabindex="-1">Cancelar</button>
</div>