
<div class="w-100">
    <button mat-raised-button (click)="createTable()" color="primary">Agregar Mesa</button>
</div>
<!-- mesas -->
<div class="w-100 h-100 row" >
    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>MESA #1</mat-card-title>
            <mat-card-subtitle>Encargado: nombre mesero</mat-card-subtitle>
            <mat-card-content>
                <p class="text-success">Estado: Disponible</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary" aria-label="Abrir cuenta" (click)="openOrder('1')">
                    <mat-icon>grading</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Ver Orden" (click)="viewOrder('1')">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Cerrar cuenta" (click)="closeOrder('1')">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Agregar plato" (click)="createDish('1')">
                    <mat-icon>dinner_dining</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Agregar Bebida " (click)="createDrink('1')">
                    <mat-icon>local_bar</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Asignar mesero" (click)="assignWaiter('1')">
                    <mat-icon>assignment_ind</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>MESA #1</mat-card-title>
            <mat-card-subtitle>Encargado: nombre mesero</mat-card-subtitle>
            <mat-card-content>
                <p class="text-success">Estado: Disponible</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary" aria-label="Abrir cuenta">
                    <mat-icon>grading</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Ver Orden">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Cerrar cuenta">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Agregar Cuenta">
                    <mat-icon>dinner_dining</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Agregar Bebida">
                    <mat-icon>local_bar</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Asignar mesero">
                    <mat-icon>assignment_ind</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>MESA #1</mat-card-title>
            <mat-card-subtitle>Encargado: nombre mesero</mat-card-subtitle>
            <mat-card-content>
                <p class="text-success">Estado: Disponible</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary" aria-label="Abrir cuenta">
                    <mat-icon>grading</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Ver Orden">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Cerrar cuenta">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Agregar Cuenta">
                    <mat-icon>dinner_dining</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Agregar Bebida">
                    <mat-icon>local_bar</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Asignar mesero">
                    <mat-icon>assignment_ind</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-4 p-2">
        <mat-card class="w-100">
            <mat-card-title>MESA #1</mat-card-title>
            <mat-card-subtitle>Encargado: nombre mesero</mat-card-subtitle>
            <mat-card-content>
                <p class="text-success">Estado: Disponible</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="primary" aria-label="Abrir cuenta">
                    <mat-icon>grading</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Ver Orden">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Cerrar cuenta">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Agregar Cuenta">
                    <mat-icon>dinner_dining</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Agregar Bebida">
                    <mat-icon>local_bar</mat-icon>
                </button>

                <button mat-icon-button color="primary" aria-label="Asignar mesero">
                    <mat-icon>assignment_ind</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>
</div>