
<div class="w-100">
    <button mat-raised-button (click)="createTable()" color="primary">Agregar Mesa</button>
</div>
<!-- mesas -->
<div class="w-100 h-100 row" >
    <div class="col-md-4 p-2" *ngFor="let table of tables">
        <mat-card class="w-100">
            <mat-card-title>MESA #{{table.mesaid}}</mat-card-title>
            <mat-card-subtitle>capacidad: {{table.capacidad}}</mat-card-subtitle>
            <mat-card-content>
                <p class="text-success" *ngIf="table.disponible">Estado: Disponible</p>
                <p class="text-danger" *ngIf="!table.disponible">Estado: Ocupado</p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="table.disponible" mat-icon-button color="primary" aria-label="Abrir cuenta" (click)="openOrder(table)">
                    <mat-icon>grading</mat-icon>
                </button>

                <button *ngIf="table.disponible" mat-icon-button color="primary" aria-label="unir mesa" (click)="joinTable(table)">
                    <mat-icon>join_inner</mat-icon>
                </button>

                <button mat-icon-button *ngIf="!table.disponible" color="primary" aria-label="Ver Orden" (click)="viewOrder(table)">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button *ngIf="!table.disponible" mat-icon-button color="primary" aria-label="Cerrar cuenta" (click)="closeOrder(table)">
                    <mat-icon>close</mat-icon>
                </button>
                <button *ngIf="!table.disponible" mat-icon-button color="primary" aria-label="Agregar plato" (click)="createDish(table)">
                    <mat-icon>dinner_dining</mat-icon>
                </button>

                <button *ngIf="!table.disponible" mat-icon-button color="primary" aria-label="Agregar Bebida " (click)="createDrink(table)">
                    <mat-icon>local_bar</mat-icon>
                </button>


            </mat-card-actions>
        </mat-card>
    </div>
</div>